@model List<Category>

<table>
    @foreach (var cat in Model)
    {
        <tr>
            <th>@cat.CategoryName</th>
            <th>@cat.CategoryDescription</th>
            <th> <img src="@Url.Content("~/CategoryPhotos/" + cat.CategoryPhoto + ".png")"> </th>
            @if (User.IsInRole("Admin") == true)
            {
                <th>@Html.ActionLink("Delete", "DeleteCategory", new { CatName = cat.CategoryName })</th>
                <th>@Html.ActionLink("Edit", "EditCategory", new { CatName = cat.CategoryName })</th>
            }

            <th>@Html.ActionLink("show Items", "AllItemsDashboard", "Admin", new { CatId = cat.CategoryId })</th>
        </tr>
    }
</table>
